body{
    background-color: black;
    color:aliceblue;
}

a:hover{
    color: blueviolet;
}

nav ul{
    display: flex; /*Places the list side by side as it will break each item into a new line*/
    padding: 20px;
    margin: 20px;
    justify-content: center;
    list-style-type: none; /*removed the dots from the list!*/
}

nav ul li {
    margin-right: 20px;
}



.aboutMe div {
    display: block;
    margin-left: 20px;
    text-indent: 20px;
}


.education div {
    display: block;
    margin-left: 20px;
    text-indent: 20px;
}

.education div li{
    margin-bottom: 10px;
}


.publications div {
    display: block;
    margin-left: 20px;
    text-indent: 20px;
}

.publications div li{
    margin-bottom: 10px;
}